#menu {
  position: relative;
  z-index: 100;
  padding: 5rem 0;

  & h2 {
    padding: 0;
  }

  // }
  & img {
    width: 70%;
    height: auto;
    padding: 3rem 0;
  }

  & .menu {
    padding-top: 5rem;
    border-bottom: 1px solid $color-grey;

    & p {
      padding: .5rem 0 .5rem 0;
      color: $color-error;
    }

    & i {
      border: solid  $color-primary;
      border-width: 0 7px 7px 0;
      display: inline-block;
      padding: 3px;
      margin-bottom: 1rem;
 
    }

    & .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    & .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    // & i.arrow {
    //   // border: solid  $color-primary-light;
    // }

    & ul {
      // background: $color-primary;
      background: linear-gradient(to bottom, #ec8121 0%,#f17432 50%,#ea5507 100%,#fb955e 100%);
      padding: 3rem 0;
      display: none;
    }

    & ul li {
      padding: 1rem 0;
      color: $color-white;
      font-size: 1.8rem;
    }
  }
}