//COLORS
//color-primary #ec8121
//color-primary-light #eb8830
//color-primary-dark #eb7912

//color-white #ffffff
//color-black #000000

//color-grey #a4a4a4
//color-grey-light #d1d1d1
//color-grey-dark #828282

$color-primary: #ec8121;
$color-primary-light: #eb8830;
$color-primary-dark: #eb7912;
$color-primary-gradient:  linear-gradient(to bottom, #ec8121 0%,#f17432 50%,#ea5507 100%,#fb955e 100%);

$color-white: #ffffff;
$color-black: #222222;

$color-grey: #a4a4a4;
$color-grey-light: #d1d1d1;
$color-grey-dark: #828282;

$color-error: #ec644b; 